footer {
    width: 100%;
    max-height: 150px;
    background-color: rgb(41, 104, 149);
    border-top: 3px solid white;
    font-family: "Caveat-Regular";
    font-size: 2vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
        
}

.golub_footer {
  float: left;
  margin-top: -65px;
  // background-color: gray;

  img {
    width: 13vw;
    z-index: 1;
    position: relative;
  }
}

/* CSS */
.button-80 {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-80:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .button-80:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .button-80:focus {
    outline: 0 solid transparent;
  }
  
  .button-80:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button-80:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button-80:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .button-80:not(:disabled):active {
    transform: translateY(.125rem);
  }


  /* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }